@media (max-width:600px){

    /* page1 */
    #page1 {
        min-height: 100vh;
        width: 100vw;
        padding: 0 0vw;
    }

    nav {
        padding: 4vw 5vw;
        background-color: #EFEAE3;
    }

    nav img {
        transition: all ease 0.2s;
        height: 9vh;
    }

    #nav-part2 {
        display: none;
    }
    
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2vw;
        padding: 2vw 5vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
        /* padding-left: 10vw; */
        cursor: pointer;
      }
      
      .line {
        stroke-width: 4;
        stroke-linecap: round;
        stroke: #000000b4;
        transition: all 500ms;
      }
      
      .top {
        transform-origin: 26px 40px;
      }
      
      .bottom {
        transform-origin: 26px 60px;
      }
      
      .menu:hover .line {
        stroke:  #000000b4;
      }
      
      .menu:hover .top {
        transform: rotate(45deg);
      }
      
      .menu:hover .bottom {
        transform: rotate(-45deg);
      }
      
      .menu svg{
        width: 6vw;
        height: 6vw;
      }
    .menu h3{
        font-size: 4vw;
        font-weight: 200;
    }
    
    #center{
        height: 55vh;
        width: 90%;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, 0.449);
        padding-bottom: 50px;
        margin: 6vw;
    }
    
    #left h3{
        width:100% ;
        font-size: 6vw;
        line-height: 6vw;
        position: relative;
        z-index: 9;
    }
    
    #center h1{
        font-size: 17vw;
        font-weight: 500;
        line-height: 14vw;
        text-align: right;
    }
    
    #page1 video{
        position: relative;
        border-radius: 30px;
        margin-top: 4vw;
        width: 100%;
        height: 70vh;
        object-fit: cover;
        object-position: center;
    }
    
    #hero-shape{
        position: absolute;
        height: 46%;
        width: 66%;
        right: 0;
        top: 45%;
    }
 
    @keyframes anime2 {
        from {
            transform: translate(-50%, 20%);
        }
        
        to {
            transform: translate(4%, -15%);
        }
    }


    /* page2 */

    #page2{
        height: 140vh;
        width: 100%;
        padding: 8vw 0vw;
        background-color: #EFEAE3;
        position: relative;
    }

    #moving-text h1{
        font-size: 18vw;
        display: inline-block;
    }
    
    #gola{
        display: inline-block;
        height: 30px;
        width: 30px;
        border-radius: 100%;
        background-color: #FE320A;
        margin: 2vw 4vw;
    }
      
    #page2-bottom{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }
    
    #page2-bottom h1{
        padding-top: 10vw;
        font-size: 7vw;
        width: 100%;
        line-height:9vw;
    }
    
    #page2-bottom-part2 {
        width: 80%;
    }
    
    #page2-bottom-part2 img{
        width: 100%;
        border-radius: 10px;
        margin: 12vw 0 8vw 0;
    }
    
    #page2-bottom-part2 p{
        font-weight: 200;
        margin-top: 2vw;
        font-size: 4vw;
        line-height: 6vw;
    }
    
    #gooey{
        height: 72vw;
        width: 72vw;
        background: linear-gradient(to top,#fe330a,#FE320A);
        position: absolute;
        border-radius: 50%;
        top: 42vw;
        left: 30vw;
        filter: blur(20px);
        animation: gooey 4s ease-in-out 0s infinite alternate none;
    }
    
    @keyframes gooey {
        from{
            transform: translate(15%,-15%) skew(0deg);
        }
    
        to{
            transform: translate(-20%,20%) skew(-15deg);
        }
    }
    
    /* page3 */
    
    #page3{
        min-height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 7vw 0vw;
    }
    
    #additional{
        display: flex;
        align-items: center;
        margin: 0px 20px;
        gap: 6px;
    }
    
    #gola2{
        height: 1.6vw;
        width: 1.6vw;
    border-radius: 50%;
    background-color: #fe330a;
}

#additional p{
    font-weight: 100;
    font-size: 3vw;
}

#elem-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10vw;
}

.elem-images{
    display: block;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    z-index: 8;
    border-radius: 4vw;
}

.elem{
    border-bottom: 1px solid black;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    position: relative;
    padding: 10vw 2vw;
    overflow: hidden;
}

.elem h2 {
    text-align: left;
    font-size: 6vw;
    padding: 4vw 0vw;
}

.elem-right{
    text-align: left;
}

.elem-right h1{
    font-size: 3.7vw;
    padding-bottom: 1vw;
}

.elem-right p{
    font-size: 2.9vw;
}

.elem:hover .overlay{
    top: -100%;
}

#fixed-image{
    display: none;
}

/* page4 */
#page4{
    height: 120vh;
}

#divider{
    display: flex;
    flex-direction: column;
}

#divider-left{
    height: 56%;
    width: 100%;
    padding: 12vw 15vw;
}

#divider-left h1{
    color: #504A45;
    font-size: 10vw;
    line-height: 10vw;
}


#divider-left p{
    color: white;
    font-weight: 100;
    width: 100%;
    line-height: 5vw;
    font-size: 3.5vw;
}
#divider-right{
    border-radius: 30px;
    height: 100%;
    width: 100%;
    background-image: url("https://assets-global.website-files.com/64d3dd9edfb41666c35b15b7/64d3dd9edfb41666c35b15e1_Project-p-1080.jpg");
    background-size: cover;
    background-position: center;
    /* color: #fe0a0a; */
}

/* page5 */

#page5 {
    height: 40vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 10vw 2vw;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #EFEAE3;
    border-left: 2px solid #00000045;
    padding-left: 2vw;
    padding-right: 6vw;
}

.swiper-text{
    font-size: 3vw;
    font-weight: 100;
    line-height: 5vw;
    text-align: left;
  }

  .swiper-slide img {
    width: 50%;
    object-fit: cover;
    text-align: center;
  }

  
  #loader h1{
    font-size: 9vw;
  
}

/* page6 */

#page6{
    height: 70vh;
}
/* footer */

#footer {
    position: fixed;
    height: 70vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    z-index: 1;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    overflow: hidden;
}

#footer h1 {
    font-size: 23vw;
    text-align: center;
}

#footer-left h2{
    font-size: 4vw;
    position: relative;
    z-index: 3;

}

#footer-div {
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw;
}

#footer-right{
    width: 50%;
}

#footer-right p{
    font-size: 3vw;
}

#footer-bottom {
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
}

#email::placeholder{
    color: rgba(255, 255, 255, 0.607);
    font-size: 2vw;
    position: relative;
    z-index: 3;
}
}